.headerWrapper {
  display: flex;
  flex-direction: row;
}

.header-title {
  margin-right: auto;
}

.header-title header {
  width: 100%;
  background-color: #ff69b4;
  color: #FFFFFF;
  margin: 1%;
  text-align: center;
}

.header-title header a {
  color: #FFFFFF;
  text-decoration: none;

}

@media all and (max-width: 100%) {
  .header-title {
    display: none;
  }
}
