.sideBarContainer {
width: 20%;
color: #595959;
padding: 2%;

}
.drawerContainer {
    width: 50%;
    padding: 2%;
    background-color: #FF9966;
}

.sideBarContainer a {
text-decoration-style: double;
padding: 2%;
}
