.wallet {
  width: auto;
  margin: 1%;
  background-color: #ff8f69;
  color: #FFFFFF;
}
.wallet button {
  border-radius: 1px;
  box-shadow: none;
  margin-left: auto;
  color: #FFFFFF;
}

@media all and (max-width: 5px) {
  .wallet {
    width: 100%;
  }
}
